.Body {
    color: #463c3c;
    font-family: 'Palatino-Roman', 'Palatino', serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Caption {
    color: #463c3c;
    font-family: 'Handwriting-Dakota', 'Handwriting - Dakota';
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Normal {
    padding: 4px;
}
.Normal_External_531_70 {
    position: relative;
}
.graphic_generic_body_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_generic_title_textbox_style_default_SkipStrokeSkipFillSkipOpacity {
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_image_style_default_3_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_image_style_default_4_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.image_cluster_layout_style_default {
    padding: 0px;
}
.style_SkipStrokeSkipFillSkipOpacity {
}
.style_External_531_70 {
    position: relative;
}
.style {
    padding: 4px;
}
.paragraph_style {
    color: #463c3c;
    font-family: 'Handwriting-Dakota', 'Handwriting - Dakota';
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_2 {
    background: transparent;
    opacity: 1.00;
}
.image_cluster_layout_style_default_External_155_48 {
    position: relative;
}
a {
    color: #621f1a;
    text-decoration: none;
}
a:visited {
    color: #000000;
    text-decoration: none;
}
a:hover {
    color: #d64600;
    text-decoration: none;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
#widget2 {
    display: none;
}
#widget2 .Comment_Posted_Date {
    color: #621f1a;
    font-family: 'CourierNewPS-BoldMT', 'Courier New', 'Courier New Bold', monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
#widget0 a:visited {
    color: #000000;
    text-decoration: none;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
#widget3 a:hover {
    color: #d64600;
    text-decoration: none;
}
#widget0 a:hover {
    color: #d64600;
    text-decoration: none;
}
#widget1 .Comment_Posted_Date {
    color: #621f1a;
    font-family: 'CourierNewPS-BoldMT', 'Courier New', 'Courier New Bold', monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
#widget3 a {
    color: #621f1a;
    text-decoration: none;
}
#id1 div.caption span.title {
    color: #463c3c;
    font-family: 'Handwriting-Dakota', 'Handwriting - Dakota';
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 24px;
    opacity: 1.00;
    text-decoration: none;
    text-transform: none;
}
.tinyText {
    font-size: 1px;
    line-height: 1px;
}
#widget0 a {
    color: #621f1a;
    text-decoration: none;
}
#widget2 .Caption {
    color: #463c3c;
    font-family: 'Handwriting-Dakota', 'Handwriting - Dakota';
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
#widget2 a {
    color: #621f1a;
    text-decoration: none;
}
#widget2 a:visited {
    color: #000000;
    text-decoration: none;
}
#widget3 a:visited {
    color: #000000;
    text-decoration: none;
}
#widget1 a:hover {
    color: #d64600;
    text-decoration: none;
}
#widget2 a:hover {
    color: #d64600;
    text-decoration: none;
}
#id1 div.caption {
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-indent: 0px;
}
#widget3 .Comment_Posted_Date {
    color: #621f1a;
    font-family: 'CourierNewPS-BoldMT', 'Courier New', 'Courier New Bold', monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
#id1 canvas {
    z-index: -1;
}
#widget1 a {
    color: #621f1a;
    text-decoration: none;
}
#widget1 a:visited {
    color: #000000;
    text-decoration: none;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
