 <%# remote_form_for(:vcard, :url => {:controller => 'iphone', :action => 'search'}, :html => {:method => :get} ) do |f| %>
<% form_for(:vcard, :url => {:controller => 'iphone', :action => 'search_results'}, :html => {:method => :get} ) do |f| %>
	<p><label for="street">Address</label> : <%= f.text_field  :street %>
	<label for="distance">distance</label> : <%= f.select  :distance, (1..31).collect{|i| [i,i]} %></p>
	<%= f.submit "Search" %>
<% end %>