<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1250" />
	<title>LorgioJimenez.com - Your What, Where, and Why....to nothing</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
	<meta name="author" lang="cs" content="Petr Knoll - grafik.pixlink.cz" />

	<script type="text/javascript" src="javascripts/prototype.js"></script>
	<script type="text/javascript" src="javascripts/js/scriptaculous.js?load=effects,builder"></script>
	<script type="text/javascript" src="javascripts/js/lightbox.js"></script>
	<link rel="stylesheet" href="stylesheets/lightbox.css" type="text/css" media="screen" />
<meta name="verify-v1" content="PoRd7dYh0lsLuL+GImehfjisN1GXUJJkQ//+zZFRG8w=" />

</head>
<body>

	<div id="web">
		<div id="header">
			<div class="logo">
				<!-- <img src="images/logo.gif" alt="" title="" /> -->
			</div>       
		</div>
		<div class="menu">
			<ul>                                                                         
				<li class="aktivni-active"><a href="#">Home</a></li>
				<% if logged_in? -%>
				<li><a href="/vcards">Load Locations</a></li>
				<li><a href="/logout">Logout</a></li>
				<% end -%>
				<li><a href="/personal/index">Personal</a></li>
				<li><a href="mailto:lorgio.jimenez&#64;gmail.com">Email Me</a></li>
			</ul>
		</div>
		<div class="kontejner">
			<div id="notice"><%= flash[:notice] -%></div>
			<div id="error"><%= flash[:error] -%></div>
			<div class="vlevo">
				<div class="text">   
					<div class="nadpis-title">
						<!-- <img src="images/download-icon.gif" alt="" />  -->
						<span class="oranzova">LorgioJimenez.com</span>
					</div>
					<p>
						<%= yield -%>
					</p>
				</div> 
			</div> 
			<div class="vpravo">
				<div class="neco">
					<div class="nadpis-title"></div>
					<!-- <div class="pozadi"> -->
						<!-- <p class="neco"> -->
							<a href="images/vehicle.gif" rel="lightbox" title="image"><img src="images/me-cropped.png" alt="" /></a>
						<!-- </p> -->
					<!-- </div>                     -->
				</div>
			</div>  

			<div class="clear"></div> 
		</div>    

		<div id="footer">                                              
			<!-- You must keep this link there / MusÌö zde zanechat sponzorovan˝ odkaz --><div class="footer">Sponsored link: <a href="http://www.vanessahudgens.cz/" title="Vanessa Hudgens - photos, biograpfy, movie, music - czech fun suite">Vanessa Hudgens</a></div>
			<div class="copyright">Copyright © 2008 by LorgioJimenez.com</div>   
		</div>
	</div>
	<div style="text-align: center; font-size: 0.75em;">Design downloaded from <a href="http://www.freewebtemplates.com/">free website templates</a>.</div>
	</body>

	</html>